/* Estilo básico para el fondo */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #ddd;
}

/* Estilo del encabezado */
header {
    background-color: #222;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilo de las secciones */
section {
    padding: 20px;
    margin: 20px;
    background-color: #444;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

section h2 {
    color: #f2f2f2;
}

section p {
    color: #ccc;
}

/* Estilo de la lista de chistes */
#dark-jokes ul {
    list-style-type: none;
    padding: 0;
}

#dark-jokes ul li {
    margin: 10px 0;
    font-size: 1.2em;
    color: #fff;
}

/* Formulario de contacto */
form {
    background-color: #555;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

form label {
    color: #ddd;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #888;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background-color: #222;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #444;
}

/* Estilo del pie de página */
footer {
    text-align: center;
    padding: 10px;
    background-color: #222;
    color: white;
    position: fixed;
    bottom: 0;
  
